apiVersion: 1

datasources:
  - name: Prometheus
    uid: prometheus
    type: prometheus
    access: proxy
    url: ${PROMETHEUS_URL}
    isDefault: true
    editable: false
  - name: Jaeger
    uid: jaeger
    type: jaeger
    access: proxy
    url: ${JAEGER_URL}
    editable: false
